<div class="hero">
    <div class="gora">
    <section id="home"  class="parallax-section">
      <div class="overlay ovv"></div>
      <div class="container con1" >
           <div class="row row1">
                <div class="col-md-6 nanapis">
                     <div class="home-text">
                          <h1>NOT A DIET.</h1>
                          <h1>LIFESTYLE.</h1>
                          <p>  Zobacz nasze wyjątkowe zestawy!</p>
                          <ul class="section-btn">
                               <a href="#about" class="smoothScroll"><span data-hover="Discover More">Zobacz!</span></a>
                          </ul>
                     </div>
                </div>
           </div>
      </div>
</section>
</div>
<section id="about" class="parallax-section">
  <div class="container">
       <div class="row">
            <div class="col-md-offset-1 col-sm-12">
                 <div class="about-info">
                      <h4>Odkryj Radość z Jedzenia z Naszym Cateringiem Dietetycznym.</h4>
                      <h1>Witamy w BeFit – miejscu, gdzie pasja do zdrowego jedzenia spotyka się z naukowym podejściem do odżywiania. Nasze indywidualnie dopasowane diety to nie tylko posiłki, to styl życia, który odmienia codzienność.</h1>
                 </div>
            </div>
       </div>
  </div>
</section>
<section id="project"  class="parallax-section">
  <div class="container">
       <div class="row">
            <div class="col-md-6 col-sm-6">
                 <div class="project-item">
                      <a routerLink="Diety" class="image-popup">
                           <img src="assets/img/d1.png" class="img-responsive" alt="">
                           <div class="project-overlay">
                                <div class="project-info">
                                     <h1>Dieta lekkostrawna</h1>
                                     <h3>Kliknij aby zobaczyczyc wszytkie zestawy!</h3>
                                </div>
                           </div>
                      </a>
                 </div>
            </div>
            <div class="col-md-6 col-sm-6">
                 <div class="project-item">
                  <a routerLink="Diety" class="image-popup">
                           <img src="assets/img/d2.png" class="img-responsive" alt="">
                           <div class="project-overlay">
                                <div class="project-info">
                                     <h1>Dieta wegetariańska</h1>
                                     <h3>Kliknij aby zobaczyczyc wszytkie zestawy!</h3>
                                </div>
                           </div>
                      </a>
                 </div>
            </div>
            <div class="col-md-6 col-sm-6">
                 <div class="project-item">
                  <a routerLink="Diety" class="image-popup">
                           <img src="assets/img/d3.png" class="img-responsive" alt="">
                           <div class="project-overlay">
                                <div class="project-info">
                                     <h1>Dieta ketogeniczna</h1>
                                     <h3>Kliknij aby zobaczyczyc wszytkie zestawy!</h3>
                                </div>
                           </div>
                      </a>
                 </div>
            </div>
            <div class="col-md-6 col-sm-6">
                 <div class="project-item">
                  <a routerLink="Diety" class="image-popup">
                           <img src="assets/img/d4.png" class="img-responsive" alt="">
                           <div class="project-overlay">
                                <div class="project-info">
                                     <h1>Dieta paleo</h1>
                                     <h3>Kliknij aby zobaczyczyc wszytkie zestawy!</h3>
                                </div>
                           </div>
                      </a>
                 </div>
            </div>               
       </div>
  </div>
</section>
</div>
  

